{{!< default}}

<main class="site-main">

    <h2 class="feed-section-title gh-canvas">{{t "Articles and news"}}</h2>
    <div class="post-feed gh-feed gh-canvas">
        {{#foreach posts}}
            {{> "loop-homepage"}}
        {{/foreach}}
    </div>

    {{pagination}}

</main>