{{!< default}}

<main class="site-main">

    <div class="post-feed gh-feed gh-canvas">
        <h2 class="feed-section-title">{{t "Articles and news"}}</h2>
        {{#foreach posts}}
            {{> "loop-homepage"}}
        {{/foreach}}
    </div>

    {{pagination}}

</main>